PORT=3000
HOST=0.0.0.0

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=backweb_db
DB_USER=postgres
DB_PASSWORD=

# Auth
JWT_SECRET=cambia_esto_por_un_secreto_largo
# Admin que se crea automáticamente al arrancar
ADMIN_EMAIL=admin@votacion.com
ADMIN_PASSWORD=admin123
